<article>

    {{#if id}}
        <h2>{{title}}</h2>
        <h2>{{content}} użytkowniku o id {{id}}</h2>
    {{else}}
        <h2>Users</h2>

        {{#each users}}
            <div class="user">
                <h3>{{name}}</h3>
                <p>{{address.street}}</p>
                <p>{{address.suite}}</p>
                <p>{{address.city}}</p>
                <p>{{address.zipcode}}</p>
                <a href="">{{website}}</a>
            </div>
        {{/each}}

    {{/if}}
</article>